#inbox {
    background: #2a2a2a;
    text-align: center;
    text-style: bold;   
}

#header_row {
    background: #2a2a2a;
}

#metadata {
    border: round $accent;
    padding: 1 2;
    margin: 1 2;
    height: auto;   
}

#body-container {
    border: round $primary;
    height: auto;
    padding: 1 2;
    margin: 1 2;
    overflow: auto;
}

#title {
    text-align: center;
    text-style: bold;
    padding: 1;
}

PreviewMail {
    display: none;
}

PreviewMail.show {
    display: block;
}

.col {
    padding: 0 1;
}

.no {
    width: 6
}

.sender {
    width: 30;
}

.subject {
    width: 50;
}

.date {
    width: 30;
}

.compact .sender {
    width: 15;
}

.compact .subject {
    width: 30;
}

.compact .date {
    width: 15;
}

ListItem {
    height: 2;
}