#title {
    text-align: center;
    text-style: bold;
    padding: 1;
}

#metadata {
    border: round $accent;
    padding: 1 2;
    margin: 1 2;
    height: auto;   
}

#body {
    border: round $primary;
    padding: 1 2;
    margin: 1 2;
    height: auto;
    overflow: auto;
}

#mail-container {
    height: 1fr;
}

#link {
    padding: 1 2;
    margin: 1 2;
    border: round $accent;
    width: 100%;
}