#title {
    text-align: center;
    text-style: bold;
    color: $text;
    width: 100%;
}

#metadata {
    border: round $accent;
    margin: 0 1;
    padding: 0 1;
    height: auto;
    background: $boost;
}

#body {
    border: round $primary;
    padding: 0 1;
    margin: 0 1;
    height: auto;
    background: $panel;
}

#attachment-list {
    margin: 0 1;
    border: round $primary;
    height: 3;
    overflow: auto;
}

#attachment-list ListItem {
    padding: 0 1;
    margin: 0;
    height: auto;
}

#no-attachment {
    padding: 0 1;
    margin: 1;
    border: round $primary;
    text-align: center;
    text-style: italic;
    background: $panel;
    color: $text-muted;
}

#link {
    margin: 0 1;
    padding: 0 1;
    border: round $accent;
    text-align: center;
    background: $boost;
    text-style: underline;
    width: auto;
}